@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all .5s ease-in-out;
  scroll-behavior: smooth;
}
body{
  line-height: 1.2;
  padding-top: 200px;
}
.card-wrapper{
  max-width: 1100px;
  margin: 0 auto;
}
img{
  width: 100%;
  display: block;
}
.img-display{
  overflow: hidden;
}
.img-showcase{
  display: flex;
  width: 100%;
  transition: all 0.5s ease-in-out;
}
.img-showcase img{
  min-width: 100%;
}
.img-select{
  display: flex;
}
.img-item{
  margin: 0.3rem;
}
.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3){
  margin-right: 0;
}
.img-item:hover{
  opacity: 0.8;
}
.product-content{
  padding: 2rem 1rem;
}
.product-title{
  font-size: 3rem;
  text-transform: capitalize;
  font-weight: 700;
  position: relative;
  color: #12263a;
  margin: 1rem 0;
}
.product-title::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  width: 80px;
  background-color: #12263a;
}
.product-link{
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.9rem;
  display: inline-block;
  margin-bottom: 0.5rem;
  background: #255eff;
  color: #fff;
  padding: 0 0.3rem;
  transition: all 0.5s ease-in-out;
}
.product-link:hover{
  opacity: 0.9;
}
.product-rating{
  color: #ffc107;
}
.product-rating span{
  font-weight: 600;
  color: #252525;
}
.product-price{
  margin: 1rem 0;
  font-size: 1rem;
  font-weight: 700;
}
.product-price span{
  font-weight: 400;
}
.last-price span{
  color: #f64749;
  text-decoration: line-through;
}
.new-price span{
  color: #256eff;
}
.product-detail h2{
  text-transform: capitalize;
  color: #12263a;
  padding-bottom: 0.6rem;
}
.product-detail p{
  font-size: 0.9rem;
  padding: 0.3rem;
  opacity: 0.8;
}
.product-detail ul{
  margin: 1rem 0;
  font-size: 0.9rem;
}
.product-detail ul li{
  margin: 0;
  list-style: none;
  background: url(img/checked.png) left center no-repeat;
  background-size: 12px;
  padding-left: 1.7rem;
  margin: 0.4rem 0;
  font-weight: 600;
  opacity: 0.9;
}
.product-detail ul li span{
  font-weight: 400;
}
.purchase-info{
   margin: 1.5rem 0;
}
.purchase-info input,
.purchase-info .btn{
  border: 1.5px solid #ddd;
  border-radius: 25px;
  text-align: center;
  padding: 0.45rem 0.8rem;
  outline: 0;
  margin-right: 0.2rem;
  margin-bottom: 1rem;
}
.purchase-info input{
  width: 60px;
}
.purchase-info .btn{
  cursor: pointer;
  color: #fff;
}
.purchase-info .btn:first-of-type{
  background: #256eff;
}
.purchase-info .btn:last-of-type{
  background: #f64749;
}
.purchase-info .btn:hover{
  opacity: 0.9;
}
.social-links{
  align-items: center;
  display: flex;
}
.social-links a{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  color: #000;
  border: 1px solid #000;
  margin: 0 0.2rem;
  border-radius: 50%;
  text-decoration: none;
  font-size: 0.8rem;
}
.social-links a:hover{
  background: #000;
  border-color: transparent;
  color: #fff;
}
.form{
  padding: 30px 40px;
}
.form-control{
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}
.form-control label{
  display: inline-block;
  margin-bottom: 5px;
  padding: 0 15px;
}
.form-control input{
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  font-size: 14px;
  padding: 10px;
}
.form button {
  background: #f64749;
  color: #fff;
  padding: 10px 25px;
  border-radius: 0.5rem;
  border: none;
}
.form button:hover{
  background: #474fa0;
}
@media screen and (min-width: 1080px) {
  .card{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }
  .card-wrapper{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .product-imgs{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .product-content{
    padding-top: 0;
  }
}